<div class="container-fluid greenBG">

    <div class="row justify-content-center">
        <div class="col-md-8 text-center text-primary bg-white teamScores">
            {{#if myTeam}}

            <h1 id="teamName"> {{myTeam.team_name}}</h1>

            <div id="scores">
                <span>WINS</span>
                <span id="wins">{{myTeam.wins}}</span>
                <span id="losses">{{myTeam.losses}}</span>
                <span>LOSSES</span>
            </div>

            {{/if}}




        </div>

    </div>


    <div class="row justify-content-center playerRow ">

        <div class="col-10 bg-white teamInfo ">
            <h1>Players:</h1>
            <table class="table ">
                <thead>
                    <tr>
                        <th scope="col ">#</th>
                        <th scope="col ">First</th>
                        <th scope="col ">Last</th>
                        <th scope="col ">Nickname</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each myPlayers}}
                    <tr>
                        <th scope="row ">{{this.id}}</th>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.nick_name}}</td>
                    </tr>
                    {{/each}}

                </tbody>
            </table>
            <a href="/teams/{{myTeam.id}} ">
                <button class="btn btn-orange " type="submit ">Add Player</button>
            </a>
        </div>
    </div>
</div>



</div>