<div class="container">
    <div class="row justify-content-center" ">
        <div class="col-4 teamInfo ">
            <h1>{{myTeam.team_name}}</h1>
            <h1>{{myTeam.team_sport}}</h1>
            <h1>Wins: {{myTeam.wins}}</h1>
            <h1>Losses{{myTeam.losses}}</h1>
        </div>
        <div class="col-10 teamInfo ">
            {{#each myPlayers}}
                <h1>{{this.first_name}}</h1>
            {{/each}}

            <a href="/teams/{{myTeam.id}} "> 
                <button type="submit ">Add Player</button>
            </a>
        </div>
    </div>
</div>